<aside class="sidebar">

    <div class="sidebar-top">
        <h2>Mi App</h2>

        <nav>
            <ul>
                <li>
                    <a href="/inicio">Inicio</a>
                </li>
                <li>
                    <a href="/tarea/dashboard">Dashboard</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="sidebar-bottom">
        <a href="/logout" class="logout">Cerrar sesión</a>
    </div>

</aside>
